.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.recipeCard {
  text-align: center;
  display: inline-block;
  margin: 1em;
  width: 400px;
  padding: 7px;
  background-size: cover;

  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; */
}

.recipeCard:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

.recipesheading {
  text-align: left;
  padding-bottom: 12px;
}
.tags:active {
  background-color: white;
}

.tags:hover {
  background-color: white;
  border: 1px solid rgb(211, 211, 211);
  cursor: pointer;
}

.select {
  padding-left: 18px;
}
