.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.recipe {
  margin: 1em;
  width: 340px;
  height: 250px;
  padding: 3px;
  background-size: cover;
  font-family: '"Cormorant Garamond", serif';
}
.button {
  font-size: x-large;
  background-color: white;
  border-radius: 80%;
  border-color: gray;
}

.recipesheading {
  text-align: left;
  padding-bottom: 12px;
}

.tags:hover {
  background-color: white;
  border: 1px solid rgb(211, 211, 211);
  cursor: pointer;
}

.select {
  padding-left: 18px;
  padding-right: 18px;
}
